/* filtro lateral */

.filtro{
    padding-left: 10% ;
    grid-area: flt;
    display: none;
    background-color: white;
    .filtro__titulo{
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .filtro__lista{
        list-style: none;
        a{
            color: black;
        }
    }
}