.contenedor__form{
    .form{
        background: rgba(0,0,0,.6);
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;
        .form__header{
            .form__title{
                font-weight: normal;
                font-family: sans-serif;
                color: #ff851b;
                text-align: center;
                padding: 1rem 0px;
                span{
                    color: white;
                }
            }
        }
        .form__label{
            display: block;
            color: #ff851b;
            font-size: 1rem;
            position: relative;
        }
        .form__input, .form__textarea{
            background: rgba(0,0,0,.7);
            border: none;
            outline: none;
            border-bottom: 2px solid #ff851b;
            width: 100%;
            padding: 1rem;
            margin-bottom: 20px;
            border-radius: 2px;
            font-size: .8rem;
            color: white;
        }
        .form__textarea{
            resize: vertical;
            max-height: 150px;
            min-height: 50px;
        }
        .form__btn{
            width: 100%;
            outline: none;
            background: #ff851b;
            font-size: 1rem;
            border: none;
            color: white;
            padding: 1rem 0px;
            cursor: pointer;
            transition: all .5s ease;
        }
        .form__btn:hover{
            background-color: #f29718;
        }
    }
}