/* productos en scroll horizontal */
.productos{
    margin: 50px 0px;
    .productos__titulo{
        display: flex;
        margin: 0px 5%;
    }
    .productos__contenido{
        display: flex;
        height: 500px;
        margin: 0px 5%;
        padding: 0px 1rem;
        flex-direction: row;
        overflow-x: scroll;
        .item__productos{
            flex: 0 0 auto;
            width: 150px;
            height: 150px;
            margin: .5rem;
        
            display: flex;
            flex-direction: column;
            transition: 1s;
            .item__productos-text{
                margin: 5px;
            }
            .btn__productos{
                border-radius: 0%;
                border: 1px solid black;
                padding: .7rem;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:570px){
    .btn__productos:hover{
        background-color: red;
        transition: .5s;
    }
    .item__productos:hover{
        transform: scale(1.2);
    }
    .productos__contenido::-webkit-scrollbar{
        display: none;
    }

    
};