/*----- estilos aplicados a guia.html -----*/
.section{
    display: flex;
    margin: 35px 5%;
    flex-direction: column;
    font-size: 20px;
    .section__cuadro{
        margin: 20px 0px;
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 150px);
            li{
                border: 1px solid rgba(0, 0, 0, 0.13);
                text-align: center;
            }
        }
    }
    .section__cuadro--dos{
        margin: 20px 0px;
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 150px);
            li{
                border: 1px solid rgba(0, 0, 0, 0.13);
                text-align: center;
            }
        }
    }
    .lista{
        ul{
            margin: 5%;
            li{
                margin: 20px;
            }
        }
    }
}
.section__dos{
    display: flex;
    margin: 35px 5%;
    flex-direction: row;
    justify-content: space-around;
    .encuesta{
        text-align: center;
        button{
            height: 30px;
            width: 50px;
            border: 0.5px solid rgb(150, 145, 145);
            border-radius: 10px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .consulta{
        text-align: center;
        button{
            height: 30px;
            width: 150px;
            border: 0.5px solid rgb(150, 145, 145);
            border-radius: 10px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}